name: Check code style and conventions

on: push

jobs:
  check-code-style:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Run prettier
        run: yarn prettier

      - name: Run Lint
        run: yarn lint

      - name: Run type checker
        run: npx tsc
